.container {
  float: right;
  position: relative;
  text-align: center;
  width: 80%;
  margin-bottom: 80px;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container a {
  font-size: 1.1rem;
}

.channel {
  top: 80px;
  position: relative;
}

.cover {
    margin-left: 20px;
    text-align: left;
}

.cover img {
  float: right;
  margin-right: 20px;
}

.buttons {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background: #D8A24D;
    border: 0;
    border-radius: 1rem;
    color: #141619;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    text-transform: uppercase;
    width: 120px;
}

.recent {
  margin-top: 100px;
  margin-left: 20px;
  text-align: left;
}

.tracks {
    float: left;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.tracks div {
    margin: 0;
    margin-top: 5px;
    color: #D8A24D;
    overflow: hidden;
    max-height: 2em;
}

.date {
    float: left;
    width: 10%;
}

.artist {
    float: left;
    width: 20%;
}

.title {
    float: left;
    width: 40%;
}

.album {
    float: right;
    width: 30%;
}
