.container {
  float: right;
  position: relative;
  width: 80%;
  margin-bottom: 80px;
}

.container h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: left;
}

.container a {
  font-size: 1.1rem;
}

.home {
  top: 120px;
  margin-left: 20px;
  position: relative;
}
