.track {
    float: left;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.play {
    width: 50px;
    float: left;
    font-size: 25px;
    cursor: pointer;
}

.title {
    float: left;
    margin: 0;
    margin-top: 5px;
    color: #fff;
    overflow: hidden;
    max-height: 2em;
}

.title.playing {
  color: #D8A24D;
}

.trackLength {
    float: right;
    margin-top: 5px;
    padding-right: 20px;
    width: 25px;
}

.trackProgress {
    color: #D8A24D;
    float: right;
    margin-top: 5px;
    padding-right: 20px;
    text-align: right;
    width: 50px;
}

.green {
    color: #4DC12B;
}
