.track {
    float: left;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.track div {
    margin: 0;
    margin-top: 5px;
    color: #fff;
    overflow: hidden;
    max-height: 2em;
}

.date {
    float: left;
    width: 10%;
}

.artist {
    float: left;
    width: 20%;
}

.title {
    float: left;
    width: 40%;
}

.album {
    float: right;
    width: 30%;
}
