.nav {
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,.6),transparent);
    border-bottom: none;
    /*border-top: 2px solid #346fAA;*/
    height: 80px;
    left: 20%;
    padding: 9px 0 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: 80%;
    z-index: 1;
    -webkit-app-region: drag;
}

.stats {
    display: inline-block;
    position: relative;
    top: 20px;
}

.stats li {
    float: left;
    padding: 0 10px;
    margin: 0 5px;
    text-transform: uppercase;
}
